.Todo-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #008000;
  margin: 10px 10px;
  border-radius: 8px;
  color: white;
}

.Todo-form {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.Todo-form-input {
  font-size: 16px;
  margin: 0 10px;
  padding: 0 10px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid white;
}

.Todo-form-btn {
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  border-radius: 3px;
  background-color: #008000;
  border: 1px solid white;
  color: white;
}

.Todo-task-div {
  display: flex;
  align-items: center;
  width: 350px;
  height: 40px;
  overflow: hidden;
}

.Todo-task {
  cursor: pointer;
  margin: 10px 20px;
}

.Todo-task-btns {
  width: 45px;
  display: flex;
  justify-content: space-between;
}

.Todo-completed {
  text-decoration: line-through;
  color: #004d00;
}

@media (max-width: 500px) {
  .Todo-div {
    padding: 10px 20px;
  }
  .Todo-task-div {
    width: auto;
  }

  .Todo-task {
    margin: 10px;
  }
}
